body {
    font-family: 'Varela Round', sans-serif;
    background-color: #131f24;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.login-button {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 25px;
    right: 30px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #49c0f8;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

    .login-button:hover {
        background-color: #0078a0;
        border-color: #0078a0;
        transform: translateY(-2px);
        color: white;
    }


.privacy-policy {
    font-family: 'Varela Round', sans-serif;
    color: #586c74;
    font-size: 12px;
}

.profile-text {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="age"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    background-color: #202f36;
    color: white;
    font-weight: 600;
}

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="age"]::placeholder {
        font-family: 'Varela Round', sans-serif;
        color: white;
        font-weight: 600;
        font-style: italic;
    }

button {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #49c0f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #202f36;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    button:hover {
        background-color: #0078a0;
        transform: translateY(-2px);
        border-color: #ccc;
    }

.terms {
    font-family: 'Varela Round', sans-serif;
    color: #586c74;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}
