/* Global styles */
body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #131f24;
    color: white;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131f24;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

    .sidebar a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 16px;
        position: relative;
    }

.sidebar-link:hover {
    color: white;
}

    .sidebar-link:hover::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        background-color: rgba(241, 241, 241, 0.1);
        border-radius: 15px;
        z-index: -1;
    }

.sidebar img {
    margin-right: 15px;
}

.logo-link {
    pointer-events: none;
}

    .logo-link img {
        margin: 0 auto;
    }

/* Specific style for the profile image to make it circular */
.profile-image {
    border-radius: 50%;
}

/* Content styles */
.content {
    margin-left: 200px;
    padding: 20px;
    flex-grow: 1;
    position: relative; 
}

/* Main Content styles */
.main-content {
    color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

/* Hearts, Gems, Day Streak Styling */
.hearts,
.gems,
.day-streak {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

    .hearts img,
    .gems img,
    .day-streak img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

.header-icons {
    position: absolute;
    top: 100px;
    right: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.hearts,
.day-streak,
.gems {
    margin-right: 20px;
}

/* Characters section styles */
.main-content .characters {
    position: absolute; 
    margin-left: 250px !important;
    color: white;
    text-align: center;
    font-weight: 600;
    margin-top: 150px;
}

    .main-content .characters .scripts {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-left: 30px;
        padding-top: 20px;
    }

    .main-content .characters .characters-link {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        position: relative;
        padding-bottom: 30px;
    }

        .main-content .characters .characters-link::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: transparent;
            z-index: -1;
        }

        .main-content .characters .characters-link:hover {
            color: #009af4;
            border-color: #009af4;
        }

    .main-content .characters .hiragana {
        margin-top: 15px;
        font-weight: 300;
    }

    .main-content .characters .katakana {
        margin-top: 15px;
        font-weight: 300;
        align-content: center;
        padding-right: 30px;
        margin-left: 50px;
    }

        .main-content .characters .katakana .katakana-text1 {
            padding-left: 20px;
        }

.sidebar-right {
    font-family: 'Varela Round', sans-serif;
    color: white;
    position: absolute;
    top: 150px; 
    right: 0; 
    width: 300px;
    margin-right: 15px;
}

.box {
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: #333842;
    padding: 20px;
    border-radius: 10px;
}

.league h3,
.daily-quests h3 {
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin: 0 0 10px 0;
}

.quest {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.progress {
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: #555;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}

.progress-bar {
    font-family: 'Varela Round', sans-serif;
    color: white;
    height: 10px;
    background-color: #ffc107;
    width: 0;
}

.league,
.daily-quests {
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: #1e2b30;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.league {
    text-align: center;
}

.leaderboard-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

    .leaderboard-link:hover {
        text-decoration: underline;
    }
