body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #131f24;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131f24;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

    .sidebar a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 16px;
        position: relative;
    }

.sidebar-link:hover {
    color: white;
}

    .sidebar-link:hover::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        background-color: rgba(241, 241, 241, 0.1);
        border-radius: 15px;
        z-index: -1;
    }

.sidebar img {
    margin-right: 15px;
}

.logo-link {
    pointer-events: none;
}

    .logo-link img {
        margin: 0 auto;
    }

/* Specific style for the profile image to make it circular */
.profile-image {
    border-radius: 50%;
}

/* Content styles */
.content {
    margin-left: 200px;
    padding: 20px;
    flex-grow: 1;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: -15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


.leaderboard-link {
    display: block;
    text-align: center;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.daily-quests {
    margin-top: 20px;
}

.league,
.quest {
    margin-bottom: 20px;
}

.question-container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.lessons {
    width: 1000px;
    background-color: #1e2a30;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 75px;
    margin-left: 50px;
}

    .lessons h1 {
        color: #fff;
    }

.multiple-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .multiple-choice button,
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        background-color: #009af4; /* Updated background color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white; /* Text color */
    }

        .multiple-choice button.correct {
            background-color: #d4edda;
            color: #155724;
        }

        .multiple-choice button.incorrect {
            background-color: #f8d7da;
            color: #721c24;
        }

.heart {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-image: url('{{ url_for('static', filename='images/heart.png') }}');
    background-size: cover;
}

.feedback {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.fill-in-the-blanks .sentence {
    margin-bottom: 20px;
    font-size: 18px;
}

.fill-in-the-blanks .blank {
    display: inline-block;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin: 0 5px;
}

.fill-in-the-blanks .word {
    display: inline-block;
    padding: 10px;
    background-color: #58CC02;
    color: white;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.fill-in-the-blanks .blank.correct {
    background-color: #d4edda;
    color: #155724;
}

.fill-in-the-blanks .blank.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

.correct {
    color: #4caf50;
}

.incorrect {
    color: #f44336;
}

.hidden {
    display: none !important;
}

#next-button {
    margin-top: 20px;
    margin-left: 470px;
    padding: 10px 20px;
    background-color: #58CC02;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    #next-button:hover {
        background-color: #0078a0;
    }

    #next-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    #next-button.hidden {
        display: none;
    }

.btn {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 5px 20px;
    background-color: #009af4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

    .btn:hover {
        background-color: #007bbd;
    }

    .btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

.hearts-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-question p {
    text-align: center;
    margin-bottom: 10px;
}

.image-options {
    display: flex;
    justify-content: center;
}

    .image-options img {
        width: 100px;
        height: 100px;
        margin: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

.translation {
    font-style: italic;
    text-align: center;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131f24;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

    .sidebar a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 16px;
        position: relative;
    }

.sidebar-link:hover {
    color: white;
}

    .sidebar-link:hover::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        background-color: rgba(241, 241, 241, 0.1);
        border-radius: 15px;
        z-index: -1;
    }

.sidebar img {
    margin-right: 15px;
}

.logo-link {
    pointer-events: none;
}

    .logo-link img {
        margin: 0 auto;
    }

/* Specific style for the profile image to make it circular */
.profile-image {
    border-radius: 50%;
}


.language {
    font-family: 'Varela Round', sans-serif;
    list-style: none;
    color: #c0c0c0;
}

.flag {
    width: 20px;
    height: auto;
    border-radius: 5px;
    margin-right: 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131f24;
    padding: 10px 20px;
    position: fixed;
    left: 1285px;
    margin-bottom: 688px;
    right: 0;
    width: 400px;
}

.header-icons {
    position: absolute;
    top: 20px; /* Adjust top position */
    right: 30px; /* Adjust right position */
    margin-top: 80px;
    display: flex;
    align-items: center;
    color: white;
}

.hearts,
.gems,
.day-streak {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

    .hearts img,
    .gems img,
    .day-streak img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

#question-text {
    text-align: center;
    margin: 0 auto;
}

.grammar-race {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grammar-race-input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}