/* Global styles */
body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #131f24;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131f24;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

    .sidebar a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 16px;
        position: relative;
    }

.sidebar-link:hover {
    color: white;
}

    .sidebar-link:hover::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        background-color: rgba(241, 241, 241, 0.1);
        border-radius: 15px;
        z-index: -1;
    }

.sidebar img {
    margin-right: 15px;
}

.logo-link {
    pointer-events: none;
}

    .logo-link img {
        margin: 0 auto;
    }

/* Specific style for the profile image to make it circular */
.profile-image {
    border-radius: 50%;
}

/* Content styles */
.content {
    margin-left: 200px;
    padding: 20px;
    flex-grow: 1;
}

/* Main Content styles */
.main-content {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    width: calc(100% - 350px);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}



/* Hearts, Gems, Day Streak Styling */
.hearts,
.gems,
.day-streak {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

    .hearts img,
    .gems img,
    .day-streak img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

.header-icons {
    position: absolute;
    top: 20px; /* Adjust top position */
    right: 30px; /* Adjust right position */
    margin-top: 80px;
    display: flex;
    align-items: center;
    color: white;
}

.hearts,
.day-streak,
.gems {
    margin-right: 20px;
}

.lessons {
    flex: 3;
    background-color: #1e2b30;
    padding: 20px;
    border-radius: 10px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}


    .lessons h2, .lessons h3 {
        margin: 0;
        padding: 0 0 10px 0;
    }

.lesson {
    display: flex;
    align-items: center;
    margin: 10px;
}

    .lesson p {
        margin: 0;
    }

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #28a745; /* Set default circle color to green */
    margin-right: 10px; /* Add margin to create space between circle and lesson text */
}

.lesson-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 300px; /* Set a fixed width for each lesson link */
    padding: 10px; /* Add padding to the lesson links */
    margin-left: 75px;
}


    .lesson-link:hover {
        text-decoration: underline;
    }

.sidebar-right {
    font-family: 'Varela Round', sans-serif;
    color: white;
    position: absolute; /* Set position absolute for sidebar-right */
    top: 150px; /* Align to the top */
    right: 0; /* Align to the right */
    width: 300px; /* Set a fixed width */
    margin-right: 15px;
}


.box {
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: #333842;
    padding: 20px;
    border-radius: 10px;
}

.league h3,
.daily-quests h3 {
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin: 0 0 10px 0;
}

.quest {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.progress {
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: #555;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}

.progress-bar {
    font-family: 'Varela Round', sans-serif;
    color: white;
    height: 10px;
    background-color: #ffc107;
    width: 0;
}

.league,
.daily-quests {
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: #1e2b30; /* Add background color */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; /* Add margin bottom */
}

.league {
    text-align: center;
}

.leaderboard-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

    .leaderboard-link:hover {
        text-decoration: underline;
    }
