/* Global styles */
body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #131f24;
    color: white;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131f24;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

    .sidebar a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 16px;
        position: relative;
    }

.sidebar-link:hover {
    color: white;
}

    .sidebar-link:hover::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        background-color: rgba(241, 241, 241, 0.1);
        border-radius: 15px;
        z-index: -1;
    }

.sidebar img {
    margin-right: 15px;
}

.logo-link {
    pointer-events: none;
}

    .logo-link img {
        margin: 0 auto;
    }

/* Specific style for the profile image to make it circular */
.profile-image {
    border-radius: 50%;
}

/* Content styles */
.content {
    padding: 20px;
    margin-top: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px); /* Subtracting the width of the sidebar */
    margin-left: 150px; /* Aligning the content to the left side */
    overflow-x: hidden; /* Preventing horizontal overflow */
}

/* Main Content styles */
.main-content {
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
}

/* Hearts, Gems, Day Streak Styling */
.hearts,
.gems,
.day-streak {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

    .hearts img,
    .gems img,
    .day-streak img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

.header-icons {
    position: absolute;
    top: 100px;
    right: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.hearts,
.day-streak,
.gems {
    margin-right: 20px;
}

/* Profile Header and Statistics */
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image-container {
    flex: 0 0 100px;
    margin-right: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    flex-grow: 1;
}

    .profile-details h1 {
        font-size: 24px;
        margin: 0;
    }

    .profile-details p {
        margin: 5px 0;
    }

.statistics {
    flex: 2;
    margin-right: 20px;
}

    .statistics h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

.stats-grid {
    display: flex;
    gap: 50px;
}

.stat-item {
    background-color: #1e2b30;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    min-width: 200px; /* Set minimum width */
}

.stat-icon {
    width: 20px; /* Set width for the icon */
    height: 25px; /* Set height for the icon */
    margin-right: 20px; /* Adjust margin as needed */
}

.stat-item div {
    flex-grow: 1; /* Allow the content to take up remaining space */
}

/* Adjust text size and spacing as needed */
.stat-item p {
    font-size: 16px;
    margin: 0;
}

.sidebar-right {
    width: 250px;
    background-color: #1e2b30;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 180px;
    right: 50px;
}

.following-followers-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tab {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    background-color: #1e2b30;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

    .tab:last-child {
        margin-right: 0;
    }

    .tab.active {
        background-color: #29343a;
    }

.tab-content {
    background-color: #1e2b30;
    padding: 15px;
    border-radius: 8px;
    display: none;
    margin-bottom: 10px;
}

    .tab-content.active {
        display: block;
    }