<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8" />
    <title>Duolingo ー 始めましょう</title>
    <link rel="icon" type="image/x-icon" href="images/bird.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" />
    <link rel="stylesheet" href="getstarted.css" />
</head>
<body>
    <nav class="menu">
        <div style="position:relative; left: 30px; top: 20px;">
            <a href="indexjp.html"><img src="images/duolingo.png" alt="Duolingo" style="width: 179px; height: 42px;"></a>
        </div>
    </nav>
    <div class="container">
        <a href="signinjp.html" class="login-button">ログイン</a>
        <h2 class="profile-text">プロフィールを作成する</h2>
        <form action="/submit_form" method="post">
            <div class="form-group">
                <input type="text" id="age" name="age" placeholder="年" required>
            </div>
            <div class="privacy-policy">
                <p>年齢を入力すると、Duolingo を適切に体験できるようになります。 詳細については、当社のウェブサイトをご覧ください。 <a href="privacypolicy.html">プライバシーポリシー</a>.</p>
            </div>
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="名前" required>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="メール" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="パスワード" required>
            </div>
            <button type="submit">アカウントを作成する</button>
        </form>
        <div class="terms">
            <p>Duolingo にサインインすると、利用規約とプライバシー ポリシーに同意したことになります。</p>
            <p>このサイトは reCAPTCHA Enterprise によって保護されており、Google のプライバシー ポリシーと利用規約が適用されます。</p>
        </div>
    </div>
</body>
</html>
