<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8" />
    <title>Duolingo</title>
    <link rel="icon" type="image/x-icon" href="images/bird.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap">
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="menu">
        <div style="position:relative; left: 360px; bottom: 15px;">
            <a href="indexjp.html"><img src="images/duolingo.png" alt="Duolingo" style="width:179px;height:42px"></a>
        </div>

        <ul>
            <li class="language">
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()"><b>サイト言語: 日本語</b><span class="arrow">&#9662;</span></button>
                    <div class="dropdown-content" id="dropdownContent">
                        <a href="index.html"><img src="images/flag_en.png" alt="English" class="flag" />英語</a>
                        <a href="indexjp.html"><img src="images/flag_jp.png" alt="Japanese" class="flag" />日本語</a>
                        <a href="indexfr.html"><img src="images/flag_fr.png" alt="French" class="flag" />フランス語</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Container for Image and Text -->
    <div class="container">
        <!-- Image -->
        <div class="groupimage">
            <img src="images/group.png" width="800" height="500" alt="Group of Characters" />
        </div>
        <!-- Text -->
        <div class="getstarted" ;>
            <h1><b>無料で楽しく効果的な方法</b></h1>
            <h1 class="text1"><b>言語を学ぶ！</b></h1>

            <button onclick="window.location.href='getstartedjp.html'" class="signupbtn"><h2>始めましょう</h2></button>
            <button onclick="window.location.href='signinjp.html'" class="signinbtn"><h2>すでにアカウントを持っています</h2></button>
        </div>

    </div>

    <script>
        function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.classList.toggle("active");
        }
    </script>
</body>
</html>
