<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duolingo - Log In</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/bird.png') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signin.css') }}">
</head>
<body>
    <nav class="menu">
        <div style="position:relative; left: 30px; top: 20px;">
            <a href="index.html"><img src="{{ url_for('static', filename='images/duolingo.png') }}" alt="Duolingo" style="width: 179px; height: 42px;"></a>
        </div>
    </nav>
    <div class="container">
        <a href="{{ url_for('getstarted') }}" class="login-button">SIGN UP</a>
        <h2 class="profile-text">Log in</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">LOG IN</button>
        </form>
        <div class="terms">
            <p>By signing into Duolingo, you agree to our Terms and Privacy Policy.</p>
            <p>This site is protected by reCAPTCHA Enterprise and the Google Privacy Policy and Terms of Service Apply.</p>
        </div>
    </div>
</body>
</html>